In [24]:
import pandas as pd

In [27]:
df = pd.read_csv("reports/ebsco-bib-sources-raw.csv", header=None, names=["src", "pcc", "oclc", "enc_lvl", "desc_cat_form"])

In [28]:
df.head()

   src    pcc  oclc  enc_lvl desc_cat_form
0  UDI   True  True        3             a
1  DLC   True  True        3             a
2  NSD   True  True        3             a
3  MUL   True  True        3             i
4  DLC  False  True        3

In [29]:
total = df.shape[0]

In [9]:
src_df = df["src"].value_counts().reset_index()

In [10]:
src_df.head()

   src  count
0  EBZ   4910
1  NSD   2257
2  DLC   1275
3  MUL    556
4  NLM    505

In [11]:
src_df["percentage"] = (src_df["count"] * 100) / total

In [12]:
src_df.head(10)

     src  count  percentage
0    EBZ   4910   34.042848
1    NSD   2257   15.648617
2    DLC   1275    8.840047
3    MUL    556    3.854954
4    NLM    505    3.501352
5    HNK    213    1.476808
6    AU@    210    1.456008
7    NLC    161    1.116273
8  CNCGM    135    0.936005
9    FQM     93    0.644803

In [13]:
src_df.to_csv("reports/ebsco-bib-sources.csv", index=False)

In [14]:
pcc_df = df["pcc"].value_counts().reset_index()

In [15]:
pcc_df.head()

     pcc  count
0   True   8737
1  False   5686

In [16]:
pcc_df["percentage"] = (pcc_df["count"] * 100) / total

In [17]:
pcc_df.head()

     pcc  count  percentage
0   True   8737   60.576856
1  False   5686   39.423144

In [18]:
pcc_df.to_csv("reports/ebsco-pcc.csv", index=False)

In [19]:
oclc_df = df["oclc"].value_counts().reset_index()

In [20]:
oclc_df.head()

    oclc  count
0   True   9513
1  False   4910

In [21]:
oclc_df["percentage"] = (oclc_df["count"] * 100) / total

In [22]:
oclc_df.head()

    oclc  count  percentage
0   True   9513   65.957152
1  False   4910   34.042848

In [23]:
oclc_df.to_csv("reports/ebsco-oclc.csv", index=False)

In [30]:
desc_df = df["desc_cat_form"].value_counts().reset_index()

In [31]:
desc_df.head()

  desc_cat_form  count
0             a   6828
1                 6028
2             i   1560
3             c      7

In [32]:
desc_df["percentage"] = (desc_df["count"] * 100) / total

In [33]:
desc_df.head()

  desc_cat_form  count  percentage
0             a   6828   47.341052
1                 6028   41.794356
2             i   1560   10.816058
3             c      7    0.048534

In [ ]:
desc_df.to_csv("reports/ebsco-desc-cat-form.csv", index=False)