In [1]:
import pandas as pd

C:\Users\tomaszkalata\AppData\Local\Temp\ipykernel_142128\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("../reports/ebsco-bib-sources-raw.csv", header=None, names=["src", "pcc", "oclc", "enc_lvl", "desc_cat_form", "fields_len", "subj_len"])

In [3]:
df.head()

   src    pcc  oclc  enc_lvl desc_cat_form  fields_len  subj_len
0  UDI   True  True        3             a          61         3
1  DLC   True  True        3             a          50         8
2  NSD   True  True        3             a          28         2
3  MUL   True  True        3             i          53         3
4  DLC  False  True        3                        22         1

In [4]:
total = df.shape[0]

In [5]:
src_df = df["src"].value_counts().reset_index()

In [6]:
src_df.head()

   src  count
0  EBZ   4910
1  NSD   2257
2  DLC   1275
3  MUL    556
4  NLM    505

In [7]:
src_df["percentage"] = (src_df["count"] * 100) / total

In [8]:
src_df.head(10)

     src  count  percentage
0    EBZ   4910   34.042848
1    NSD   2257   15.648617
2    DLC   1275    8.840047
3    MUL    556    3.854954
4    NLM    505    3.501352
5    HNK    213    1.476808
6    AU@    210    1.456008
7    NLC    161    1.116273
8  CNCGM    135    0.936005
9    FQM     93    0.644803

In [9]:
src_df.to_csv("../reports/ebsco-bib-sources.csv", index=False)

In [10]:
pcc_df = df["pcc"].value_counts().reset_index()

In [11]:
pcc_df.head()

     pcc  count
0   True   8737
1  False   5686

In [12]:
pcc_df["percentage"] = (pcc_df["count"] * 100) / total

In [13]:
pcc_df.head()

     pcc  count  percentage
0   True   8737   60.576856
1  False   5686   39.423144

In [14]:
pcc_df.to_csv("../reports/ebsco-pcc.csv", index=False)

In [15]:
oclc_df = df["oclc"].value_counts().reset_index()

In [16]:
oclc_df.head()

    oclc  count
0   True   9513
1  False   4910

In [17]:
oclc_df["percentage"] = (oclc_df["count"] * 100) / total

In [18]:
oclc_df.head()

    oclc  count  percentage
0   True   9513   65.957152
1  False   4910   34.042848

In [19]:
oclc_df.to_csv("../reports/ebsco-oclc.csv", index=False)

In [20]:
desc_df = df["desc_cat_form"].value_counts().reset_index()

In [21]:
desc_df.head()

  desc_cat_form  count
0             a   6828
1                 6028
2             i   1560
3             c      7

In [22]:
desc_df["percentage"] = (desc_df["count"] * 100) / total

In [23]:
desc_df.head()

  desc_cat_form  count  percentage
0             a   6828   47.341052
1                 6028   41.794356
2             i   1560   10.816058
3             c      7    0.048534

In [24]:
desc_df.to_csv("reports/../ebsco-desc-cat-form.csv", index=False)

In [27]:
fields_df = df[["fields_len", "subj_len"]].copy()

In [28]:
fields_df.head()

   fields_len  subj_len
0          61         3
1          50         8
2          28         2
3          53         3
4          22         1

In [29]:
fields_df.describe()

         fields_len      subj_len
count  14423.000000  14423.000000
mean      26.646883      1.752825
std       10.059512      1.804819
min       12.000000      0.000000
25%       16.000000      0.000000
50%       27.000000      2.000000
75%       34.000000      3.000000
max       73.000000     28.000000