In [1]:
import pandas as pd

C:\Users\tomaszkalata\AppData\Local\Temp\ipykernel_145144\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("../reports/serialsol-bib-sources-raw.csv", header=None, names=["src", "pcc", "oclc", "enc_lvl", "desc_cat_form", "fields_len", "subj_len"])

In [3]:
df.head()

   src   pcc   oclc enc_lvl desc_cat_form  fields_len  subj_len
0  ABC  True  False                     a          46         3
1  NSD  True  False       7             a          47         4
2  FGA  True  False                     a          40         3
3  SUC  True  False                     a          65         5
4  TXA  True  False                     a          39         2

In [4]:
total = df.shape[0]

In [5]:
src_df = df["src"].value_counts().reset_index()

In [6]:
src_df.head()

      src  count
0     DLC   6234
1  WaSeSS   5614
2     CNU   4888
3     NSD   4118
4   OCLCS   2110

In [7]:
src_df["percentage"] = (src_df["count"] * 100) / total

In [8]:
src_df.head(10)

      src  count  percentage
0     DLC   6234   10.236957
1  WaSeSS   5614    9.218845
2     CNU   4888    8.026668
3     NSD   4118    6.762238
4   OCLCS   2110    3.464867
5     VT2   1641    2.694714
6     AU@   1562    2.564987
7     F#A   1493    2.451681
8   OCLCE   1483    2.435260
9     EYM   1056    1.734076

In [10]:
src_df.to_csv("../reports/serialsol-bib-sources.csv", index=False)

In [11]:
pcc_df = df["pcc"].value_counts().reset_index()

In [12]:
pcc_df.head()

     pcc  count
0   True  47044
1  False  13853

In [13]:
pcc_df["percentage"] = (pcc_df["count"] * 100) / total

In [14]:
pcc_df.head()

     pcc  count  percentage
0   True  47044   77.251753
1  False  13853   22.748247

In [15]:
pcc_df.to_csv("../reports/serialsol-pcc.csv", index=False)

In [16]:
oclc_df = df["oclc"].value_counts().reset_index()

In [17]:
oclc_df.head()

    oclc  count
0  False  60897

In [18]:
oclc_df["percentage"] = (oclc_df["count"] * 100) / total

In [19]:
oclc_df.head()

    oclc  count  percentage
0  False  60897       100.0

In [20]:
oclc_df.to_csv("../reports/serialsol-oclc.csv", index=False)

In [21]:
desc_df = df["desc_cat_form"].value_counts().reset_index()

In [22]:
desc_df.head()

  desc_cat_form  count
0             a  41063
1             i  17913
2                 1683
3             c    236
4             u      2

In [23]:
desc_df["percentage"] = (desc_df["count"] * 100) / total

In [24]:
desc_df.head()

  desc_cat_form  count  percentage
0             a  41063   67.430251
1             i  17913   29.415242
2                 1683    2.763683
3             c    236    0.387540
4             u      2    0.003284

In [25]:
desc_df.to_csv("../reports/serialsol-desc-cat-form.csv", index=False)

In [26]:
fields_df = df[["fields_len", "subj_len"]].copy()

In [27]:
fields_df.head()

   fields_len  subj_len
0          46         3
1          47         4
2          40         3
3          65         5
4          39         2

In [28]:
fields_df.describe()

         fields_len      subj_len
count  60897.000000  60897.000000
mean      37.753453      2.700527
std        7.854976      1.594962
min       17.000000      0.000000
25%       34.000000      2.000000
50%       38.000000      2.000000
75%       42.000000      4.000000
max       85.000000     38.000000